@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

:root{
    --green:#16a085;
    --black:#444;
    --light-color:#111;
    --box-shadow:.5rem .5rem 0 rgba(22, 160, 133, .2);
    --text-shadow:.4rem .4rem 0 rgba(0, 0, 0, .2);
    --border:.2rem solid var(--green);
    --primary-color: #12ac8e;
    --primary-color-dark: #0d846c;
    --primary-color-light: #e9f7f7;
    --secondary-color: #fb923c;
    --text-dark: #333333;
    --text-light: #767268;
    --white: #ffffff;
    --max-width: 1200px;
    --main-color: rgba(71, 225, 71, 0.448);
    --black-color: #0e0e0e;
    --border: 0.1rem solid rgba(255, 255, 255, 0.4);
  
}


 
  

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-transform: capitalize;
    transition: all .2s ease-out;
    text-decoration: none;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

section{
    padding:2rem 9%;
}

section:nth-child(even){
    background: #f5f5f5;
}

.heading{
    text-align: center;
    padding-bottom: 2rem;
    text-shadow: var(--text-shadow);
    text-transform: uppercase;
    color:var(--black);
    font-size: 5rem;
    letter-spacing: .4rem;
}

.heading span{
    text-transform: uppercase;
    color:var(--green);
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: .5rem;
    padding-left: 1rem;
    border:var(--border);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    color:var(--green);
    cursor: pointer;
    font-size: 1.7rem;
    background: #fff;
}

.btn span{
    padding:.7rem 1rem;
    border-radius: .5rem;
    background: var(--green);
    color:#fff;
    margin-left: .5rem;
}

.btn:hover{
    background: var(--green);
    color:#fff;
}

.btn:hover span{
    color: var(--green);
    background:#fff;
    margin-left: 1rem;
}

.header{
    padding:2rem 9%;
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 1000;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #33d9b2;
}

.header .logo{
    font-size: 2.5rem;
    color: var(--black);
}

.header .logo i{
    color: #c0392b;
}

.header .navbar a{
    font-size: 1.7rem;
    color: var(--light-color);
    margin-left: 2rem;
}

.header .navbar a:hover{
    color:red;
}

#menu-btn{
    font-size: 2.5rem;
    border-radius: .5rem;
    background: var(--green);
    color:#fff;
    padding: 1rem 1.5rem;
    cursor: pointer;
    display: none;
}

.home{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5rem;
    padding-top: 10rem;
}

.home .image{
    flex:1 1 45rem;
}

.home .image img{
    width: 100%;
}

.home .content{
    flex:1 1 45rem;
}

.home .content h3{
    font-size: 4.5rem;
    color:var(--black);
    line-height: 1.8;
    text-shadow: var(--text-shadow);
}

.home .content p{
    font-size: 1.7rem;
    color:var(--light-color);
    line-height: 1.8;
    padding: 1rem 0;
}

.icons-container{
    display: grid;
    gap:2rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.icons-container .icons{
    border:var(--border);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    text-align: center;
    padding: 2.5rem;
}

.icons-container .icons i{
    font-size: 4.5rem;
    color:var(--green);
    padding-bottom: .7rem;
}

.icons-container .icons h3{
    font-size: 4.5rem;
    color:var(--black);
    padding: .5rem 0;
    text-shadow: var(--text-shadow);
}

.icons-container .icons p{
    font-size: 1.7rem;
    color:var(--light-color);
}

.about .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:2rem;
}

.about .row .image{
    flex:1 1 45rem;
}

.about .row .image img{
    width: 100%;
}

.about .row .content{
    flex:1 1 45rem;
}

.about .row .content h3{
    color: var(--black);
    text-shadow: var(--text-shadow);
    font-size: 4rem;
    line-height: 1.8;
}

.about .row .content p{
    color: var(--light-color);
    padding:1rem 0;
    font-size: 1.5rem;
    line-height: 1.8;
}


.services .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap:2rem;
}

.services .box-container .box{
    background:#fff;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border:var(--border);
    padding: 2.5rem;
}

.services .box-container .box i{
    color: var(--green);
    font-size: 5rem;
    padding-bottom: .5rem;
}

.services .box-container .box h3{
    color: var(--black);
    font-size: 2.5rem;
    padding:1rem 0;
}

.services .box-container .box p{
    color: var(--light-color);
    font-size: 1.4rem;
    line-height: 2;
}


.doctors .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:2rem;
}

.doctors .box-container .box{
    text-align: center;
    background:#fff;
    border-radius: .5rem;
    border:var(--border);
    box-shadow: var(--box-shadow);
    padding:2rem;
}

.doctors .box-container .box img{
    height: 20rem;
    border:var(--border);
    border-radius: .5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.doctors .box-container .box h3{
    color:var(--black);
    font-size: 2.5rem;
}

.doctors .box-container .box span{
    color:var(--green);
    font-size: 1.5rem;
}

.doctors .box-container .box .share{
    padding-top: 2rem;
}

.doctors .box-container .box .share a{
    height: 5rem;
    width: 5rem;
    line-height: 4.5rem;
    font-size: 2rem;
    color:var(--green);
    border-radius: .5rem;
    border:var(--border);
    margin:.3rem;
}

.doctors .box-container .box .share a:hover{
    background:var(--green);
    color:#fff;
    box-shadow: var(--box-shadow);
}

.appointment .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:2rem;
}
 
.appointment .row .image{
    flex:1 1 45rem;
}

.appointment .row .image img{
    width: 100%;
}

.appointment .row form{
    flex:1 1 45rem;
    background: #fff;
    border:var(--border);
    box-shadow: var(--box-shadow);
    text-align: center;
    padding: 2rem;
    border-radius: .5rem;
}
.appointment .row form .message{
    margin-bottom: 2rem;
    border-radius: .5rem;
    padding: 1.5rem 1rem;
    font-size: 1.7rem;
    text-align: center;

}
.appointment .row form h3{
    color:var(--black);
    padding-bottom: 1rem;
    font-size: 3rem;
}

.appointment .row form .box{
    width: 100%;
    margin:.7rem 0;
    border-radius: .5rem;
    border:var(--border);
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;
    padding: 1rem;
}

.appointment .row form .btn{
    padding:1rem 4rem;
}

.review .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap:2rem;
}

.review .box-container .box{
    border:var(--border);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    padding:2.5rem;
    background: #fff;
    text-align: center;
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.review .box-container .box img{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    object-fit: cover;
    border:.5rem solid #fff;
}

.review .box-container .box h3{
    color:#fff;
    font-size: 2.2rem;
    padding:.5rem 0;
}

.review .box-container .box .stars i{
    color:#fff;
    font-size: 1.5rem;
}

.review .box-container .box .text{
    color:var(--light-color);
    line-height: 1.8;
    font-size: 1.6rem;
    padding-top: 4rem;
}

.review .box-container .box::before{
    content: '';
    position: absolute;
    top:-4rem; left: 50%;
    transform:translateX(-50%);
    background:var(--green);
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    height: 25rem;
    width: 120%;
    z-index: -1;
}

.blogs .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:2rem;
}

.blogs .box-container .box{
    border:var(--border);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    padding: 2rem;
}

.blogs .box-container .box .image{
    height: 20rem;
    overflow:hidden;
    border-radius: .5rem;
}

.blogs .box-container .box .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.blogs .box-container .box:hover .image img{
    transform:scale(1.2);
}

.blogs .box-container .box .content{
    padding-top: 1rem;
}

.blogs .box-container .box .content .icon{
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blogs .box-container .box .content .icon a{
    font-size: 1.4rem;
    color: var(--light-color);
}

.blogs .box-container .box .content .icon a:hover{
    color:var(--green);
}

.blogs .box-container .box .content .icon a i{
    padding-right: .5rem;
    color: var(--green);
}

.blogs .box-container .box .content h3{
    color:var(--black);
    font-size: 3rem;
}

.blogs .box-container .box .content p{
    color:var(--light-color);
    font-size: 1.5rem;
    line-height: 1.8;
    padding:1rem 0;
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    gap:2rem;
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    color:var(--black);
    padding: 1rem 0;
}

.footer .box-container .box a{
    display: block;
    font-size: 1.5rem;
    color:var(--light-color);
    padding: 1rem 0;
}

.footer .box-container .box a i{
    padding-right: .5rem;
    color:var(--green);
}

.footer .box-container .box a:hover i{
    padding-right:2rem;
}

.footer .credit{
    padding: 1rem;
    padding-top: 2rem;
    margin-top: 2rem;
    text-align: center;
    font-size: 2rem;
    color:var(--light-color);
    border-top: .1rem solid rgba(0, 0, 0, .1);
}

.footer .credit span{
    color:var(--green);
}









/* media queries  */
@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding: 2rem;
    }

    section{
        padding:2rem;
    }

}

@media (max-width:768px){

    #menu-btn{
        display: initial;
    }

    .header .navbar{
        position: absolute;
        top:115%; right: 2rem;
        border-radius: .5rem;
        box-shadow: var(--box-shadow);
        width: 30rem;
        border: var(--border);
        background: #fff;
        transform: scale(0);
        opacity: 0;
        transform-origin: top right;
        transition: none;
    }

    .header .navbar.active{
        transform: scale(1);
        opacity: 1;
        transition: .2s ease-out;
    }

    .header .navbar a{
        font-size: 2rem;
        display: block;
        margin:2.5rem;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

}



/* contact section */

.header__container {
    
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5rem;
    background-image: linear-gradient(
        to right,
        rgba(18, 172, 141, 0.577),
        rgba(18, 172, 141, 0.499)
      ),
      url("./../image/header.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .header__content{
    width: 500px;
  }
  .header__container h1 {
    margin-bottom: 1rem;
    max-width: 800px;
    font-size: 3.5rem;
    line-height: 4rem;
    color: var(--white);
  }
  
  .header__container p {
    margin-bottom: 2rem;
    max-width: 600px;
    color: var(--primary-color-light);
  }
  
  .header__form {
    width: 100%;
    max-width: 350px;
  }
  
  .header__form form {
    display: grid;
    gap: 1rem;
    padding: 2rem;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  }
  
  .header__form input {
    padding: 1rem;
    outline: none;
    border: none;
    font-size: 1rem;
    color: var(--primary-color);
    background-color: var(--primary-color-light);
    border-radius: 5px;
  }
  
  .header__form input::placeholder {
    color: var(--primary-color);
  }
  
  .form__btn {
    background-color: var(--primary-color);
    transition: 0.3s;
  }
  
  .form__btn:hover {
    background-color: var(--primary-color-dark);
  }
  
  .header__form h4 {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--primary-color);
  }
  
  /*! producst start  */
  .products .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 3.7rem;
  }
  
  .products .box-container .box {
    text-align: center;
    background-color: #fff;
    position: relative;
    border-radius: 3rem;
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3rem;
  }
  
  .products .box-container .box .box-head {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    z-index: 10;
  }
  
  .products .box-container .box .box-head .title {
    font-size: 1.4rem;
  }
  
  .products .box-container .box .box-head .name {
    font-size: 2.9rem;
    color: #12ac8e;
    font-weight: bold;
    text-align: start;
    overflow-wrap: anywhere;
  }
  
  .products .box-container .dark-bg .box-head .name,
  .products .box-container .dark-bg .box-head .title {
    color: #fff;
  }
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  @media screen and (max-width: 1199px) {
    .container {
      padding: 0 5%;
    }
    .products .box-container .box{
      height: 50rem;
    }
  }
  
  
  .products .box-container img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    /*border-radius: 3rem;
     */  
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
  
  .products .box-container .dark-bg img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: unset;
  }
  
  .products .box-container .box-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 10;
  }
  
  .products .box-container .box-bottom .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .products .box-container .box-bottom .info .price {
    font-size: 3rem;
  }
  
  .products .box-container .box-bottom .info .amount {
    font-size: 1.4rem;
  }
  
  .products .box-container .dark-bg .box-bottom .info .price,
  .products .box-container .dark-bg .box-bottom .info .amount {
    color: #fff;
  }
  
  .products .box-container .box-bottom .product-btn a {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 6.5rem;
    height: 6.5rem;
    border: 0.2rem solid var(--primary-color);
  }
  
  .products .box-container .box-bottom .product-btn a i {
    font-size: 1.6rem;
    color: var(--primary-color);
  }
  
  
  /*! producst end  */
  /* contact us start*/
  .contact .row {
    display: flex;
    /* background-color: green; */
    flex-wrap: wrap;
    gap: 1rem;
  }
  
  .contact .row .map {
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
  }
  .contact .row form {
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
  }
  
  .contact .row form h3 {
    text-transform: uppercase;
    font-size: 3.5rem;
    color: #0d846c;
  }
  
  .contact .row form .inputBox {
    display: flex;
    align-items: center;
    margin: 2rem 0;
    border: 1px solid black;
  }
  
  .contact .row form .inputBox i {
    color: #12ac8e;
    font-size: 2rem;
    padding-left: 2rem;
  }
  
  .contact .row form .inputBox input {
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    color: #fff;
    text-transform: none;
    background-color: transparent;
  }
  
  .contact .row form .btn {
    color: white;
    background-color:#12ac8e;
    font-weight: bold;
  }
  /* contact us end */
 /* about section start */

 .ab__container {
    
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5rem;
    background-image: linear-gradient(
        to right,
        rgba(18, 172, 141, 0),
        rgba(18, 172, 141, 0)
      ),
      url("./../image/Eczane-tasarimlari-jpg.webp");
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .about__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    align-items: center;
  }
  .about__content h2{
    font-size: 3.9rem;
    color: #12ac8e;

  }
  .about__content p {
    margin-bottom: 1rem;
    font-size: 1.3rem;
    color: var(--text-light);
  }
  
  .about__image img {
    max-width: 400px;
    margin: auto;
    border-radius: 10px;
  }
  
  .why__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    align-items: center;
  }
  
  .why__image img {
    max-width: 400px;
    margin: auto;
    border-radius: 10px;
  }
  .section__header{
    font-size: 3rem;
    color: #12ac8e;
  }
  
  .why__content p {
    color: var(--text-light);
    font-size: 1.1rem;
  }
 
  .why__grid {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 80px auto;
    gap: 2rem;
  }
  
  .why__grid span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    color: var(--primary-color);
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
  }
  
  .why__grid h4 {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    font-weight: 600;
   color: #0d846c;
  }
  
  .why__grid p {
    color: var(--text-light);
  }
  
  .doctors__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }
  
  .doctors__header__content p {
    max-width: 600px;
    color: var(--text-light);
    
  }
  
  .doctors__nav {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .doctors__nav span {
    padding: 5px 15px;
    font-size: 1.5rem;
    color: var(--primary-color);
    background-color: var(--primary-color-light);
    cursor: pointer;
  }
  
  .doctors__grid {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
  
  .doctors__card {
    text-align: center;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
  }
  .doctors__card__image img{
    width: 100%;
  }
  .doctors__card__image {
    position: relative;
    overflow: hidden;
  }
  
  .doctors__socials {
    position: absolute;
    left: 0;
    bottom: -4rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    transition: 0.5s;
  }
  
  .doctors__socials span {
    display: inline-block;
    padding: 6px 12px;
    font-size: 1.5rem;
    color: var(--text-dark);
    background-color: var(--white);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .doctors__socials span:hover {
    color: var(--primary-color);
  }
  
  .doctors__card:hover .doctors__socials {
    bottom: 2rem;
  }
  
  .doctors__card h4 {
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-dark);
  }
  
  .doctors__card p {
    margin-bottom: 1rem;
    color: var(--text-light);
  }
  @media (width < 900px) {
    .service__grid {
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }
  
    .about__container {
      grid-template-columns: repeat(1, 1fr);
    }
  
    .about__image {
      grid-area: 1/1/2/2;
    }
  
    .about__content {
      text-align: center;
    }
  
    .why__container {
      grid-template-columns: repeat(1, 1fr);
    }
  
    .why__content {
      text-align: center;
    }
  
    .why__grid {
      text-align: left;
    }
  
    .doctors__grid {
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }
  
    .footer__container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (width < 780px) {
    .nav__links {
      display: none;
    }
  
    .header__container {
      flex-direction: column;
    }
  }
  
  @media (width < 600px) {
    .service__header {
      flex-direction: column;
      text-align: center;
    }
  
    .service__grid {
      grid-template-columns: repeat(1, 1fr);
    }
  
    .why__grid {
      column-gap: 1rem;
    }
  
    .doctors__header {
      flex-direction: column;
      text-align: center;
    }
  
    .doctors__grid {
      grid-template-columns: repeat(1, 1fr);
    }
  
 
  }  


  /* dinamik section start */

  #products {
    margin-top: 50px;
  }
  #products h5 {
    text-align: center;
    opacity: 0.5;
    margin-bottom: 50px;
  }
  #products .products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
  @media screen and (max-width: 767px) {
    #products .products {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  #products .products .products-card-one {
    transition: all 0.5s;
    position: relative;
    width: 100%;
  }
  #products .products .products-card-one:hover .rg {
    display: block;
  }
  #products .products .products-card-one:hover .mug-btn {
    opacity: 1;
    bottom: 60px;
  }
  #products .products .products-card-one:hover .icons {
    opacity: 1;
    bottom: 70px;
  }
  #products .products .products-card-one .image {
    width: 100%;
    transition: all 0.5s;
    overflow: hidden;
  }
  #products .products .products-card-one .image img {
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
  }
  #products .products .products-card-one .image img:hover {
    transform: scale(1.2);
  }
  #products .products .products-card-one .mug-btn {
    transition: all 1s;
    border: none;
    width: 50%;
    padding: 10px 20px;
    background-color: white;
    position: absolute;
    left: 25px;
    bottom: 10px;
    color: black;
    text-align: center;
    opacity: 0;
  }
  #products .products .products-card-one .products-text {
    text-align: center;
    position: relative;
  }
  #products .products .products-card-one .products-text .p-price {
    opacity: 0.5;
  }
  
  .price {
    display: flex;
    gap: 5px;
    justify-content: center;
    text-align: center;
  }
  .price .p-price-two {
    opacity: 0.5;
  }
  
  .icons {
    transition: all 1s;
    opacity: 0;
    position: absolute;
    bottom: 20px;
    left: 220px;
  }
  @media screen and (max-width: 767px) {
    .icons {
      left: 250px;
    }
  }
  .icons i {
    font-size: 1.1rem;
    cursor: pointer;
    color: #fff;
  }
  .icons a i {
    color: #fff;
    margin-left: 5px;
  }
  #basket{
    margin-top: 80px;
  }
  
  .basket-image {
    width: 20%;
  }
  .basket-image img {
    width: 100%;
  }
  
  table {
    border: 1px solid black;
    text-align: center;
    border-collapse: collapse;
  }
  table thead tr th {
    border: 1px solid black;
  }
  table tbody tr td {
    border: 1px solid black;
  }
  table tbody tr td .btn {
    padding: 10px;
    border: none;
    background-color: #B6332D;
    color: white;
  }
  table tbody tr td .inc-btn {
    padding: 5px;
    background-color: white;
    color: #000;
    border: 1px solid #000;}

  /* dinamik section end */